<script src="/scripts/index.js"></script>
<link rel="stylesheet" href="/styles/index.css">
{{#.}}
<div class="container centerContainer">
    <div class="name">{{.}}</div>
    <div class="container">
        <a href="javascript:void(0)" class="sub bl op">-</a>
        <input type="number" class="count bl" autocomplete="off" value="0">
        <a href="javascript:void(0)" class="add bl op">+</a>
    </div>
</div>
{{/.}}
<div class="container centerContainer">
    <a href="javascript:void(0)" class="bl" id="roll">Roll</a>
</div>